extends layout

block content
	.hero-unit
		h1 Welcome to Node Template
		p This template is meant to make starting a new web project in nodejs as easy as possible using:
		ul
			li 
				span Express 3.0alpha3 
				a(href="http://expressjs.com/h5bp") (http://expressjs.com/h5bp)
			li 
				span Socket.io 0.9 
				a(href="http://socket.io/") (http://socket.io/)
			li
				span Mongoose 2.5 
				a(href="http://mongoosejs.com/") (http://mongoosejs.com/)
			li
				span Connect-MongoDB for session storage 
				a(href="https://github.com/masylum/connect-mongodb") (https://github.com/masylum/connect-mongodb)
			li
				span H5BP 3.0 
				a(href="http://html5boilerplate.com/") (http://html5boilerplate.com/)
			li
				span Twitter Bootstrap - Less files included for customization 
				a(href="http://twitter.github.com/bootstrap/") (http://twitter.github.com/bootstrap/)
			li
				span jQuery 1.7.2 
				a(href="http://jquery.com/") (http://jquery.com/)