!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
  body
    block content
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/libs/jquery-1.7.2.min.js')
    script(src='/javascripts/scripts.js')